body,
html,
#app {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color:white ;
  font-family:
    -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue",
    Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol", "Noto Color Emoji";
}

.all {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow:hidden;
}

.top {
  flex-shrink: 0;
  
}


.bar {
  flex-shrink: 0;
}

