body,
html,
#app {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: #f0f2f5;
  font-family:
    -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue",
    Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol", "Noto Color Emoji";
}

.all {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.top {
  flex-shrink: 0;
}

.show {
  flex-grow: 1;
  overflow-y: auto;
}

.bar {
  flex-shrink: 0;
}

